body {
	margin: 0;
	padding: 0;
	font-size: 18px;
    font-family: 'Bai Jamjuree', sans-serif;
    text-align: center;
}

main{
	width: 1440px;
	margin: 0 auto;
	background-image: url("./images/bg-header-desktop.png");
	background-repeat: no-repeat;
}

h1, h2, h3 {
	color: hsl(210, 10%, 33%);
}

p {
	color: hsl(201, 11%, 66%);
}

.section--main-width{
	padding: 2em 14em;
}

.section--wider{
	padding: 2em 6em;
}

.column {
	float: left;
	width: 33.33%;
}

/* Clear floats after the columns */
.row:after {
	content: "";
	display: table;
	clear: both;
}

.img--small-svg{
	height: 2em;
	width: 2em;
}

.img--small-svg img{
	margin: auto;
	width: 100%;
	height: auto;
}


.button {
	color: white;
    padding: 1em 2em;
    border: none;
    border-radius: 1.5em;
}

.button--download-ios {
    background-color: hsl(171, 66%, 44%);

}

.button--download-mac {
    background-color: hsl(233, 100%, 69%);
}

.image-devices {
    margin: 2em;
}

#main-logo {
    margin: 3em;
}
