:root {
    --main: hsl(210, 10%, 33%);
    --main-50: hsl(201, 11%, 66%);

    --bg-color:  hsla(201, 11%, 100%);
    --bg-color:  hsla(201, 11%, 90%);
    --bg-color:  hsla(201, 11%, 80%);

    --ff: 'Bai Jamjuree', sans-serif;

    --fs--4: clamp(0.48rem, calc(0.46rem + 0.10vw), 0.54rem);
    --fs--3: clamp(0.58rem, calc(0.55rem + 0.16vw), 0.67rem);
    --fs--2: clamp(0.69rem, calc(0.64rem + 0.25vw), 0.84rem);
    --fs--1: clamp(0.83rem, calc(0.76rem + 0.38vw), 1.05rem);
    --fs-0: clamp(1.00rem, calc(0.89rem + 0.54vw), 1.31rem);
    --fs-1: clamp(1.20rem, calc(1.05rem + 0.77vw), 1.64rem);
    --fs-2: clamp(1.44rem, calc(1.23rem + 1.06vw), 2.05rem);
    --fs-3: clamp(1.73rem, calc(1.44rem + 1.45vw), 2.56rem);
    --fs-4: clamp(2.07rem, calc(1.68rem + 1.97vw), 3.20rem);
    --fs-5: clamp(2.49rem, calc(1.96rem + 2.64vw), 4.01rem);


}


body {
	margin: 0;
	padding: 0;
	font-size: 18px;
    font-family: var(--ff);
    text-align: center;
}

main{
	max-width: 1440px;
	margin: 0 auto;
	background-repeat: no-repeat;
	background-image: url("./images/bg-header-desktop.png");
}

footer {
    background-color: var(--bg-color);
}

h1, h2, h3, span {
	color: hsl(210, 10%, 33%);
}

p {
	color: hsl(201, 11%, 66%);
}




.section--main-width{
    padding: 2em 14em;
}

.section--wider{
    padding: 2em 6em;
}

.section--snippets {
    display: flex;
}

.div--snippets-right-side {
    /* display: grid; */
    text-align: left;
    margin-left: 2em;
    padding-right: 15em;
}

.div--collaborators {
    display: flex;
}

.img--small-svg {
    height: 2em;
    width: 2em;
    justify-self: center;
}

.img--small-svg img{
    margin: auto;
    width: 100%;
    height: auto;
}

.productivity-tools {
    display: flex;
}

.productivity-tools--column {
    display: grid;
    width: 33.3%;
    padding: 1em;
}

.button {
    color: white;
    padding: 1em 2em;
    margin: 0.5em;
    border: none;
    border-radius: 1.5em;
}

.button--download-ios {
    background-color: hsl(171, 66%, 44%);

}

.button--download-mac {
    background-color: hsl(233, 100%, 69%);
}

.image-devices {
    margin: 2em;
}

.img--collaborators-logo {
    margin: auto;
}

.footer--section {
    display: flex;
}
.footer--div--logo {
    width: 25%;
}

.footer--div--logo img {
    width: 3em;
}

.footer--div--menu {
    display: flex;
    width: 50%;
}

.footer--span {
    padding-right: 2em;
}

.footer--div--social-network {
    width: 25%;
}

#main-logo {
    margin: 3em;
}


